---
- name: Set Java version variables
  set_fact:
    java_version: "25.0.1"
    java_build_hash: "2fbf10d8c78e40bd87641c434705079d"
    java_build_number: "8"
    java_install_dir: "/usr/share/openjdk"
    java_temp_dir: "/tmp/openjdk-install"

- name: Check if Java is already installed with correct version
  command: java --version
  register: current_java_version
  changed_when: false
  failed_when: false

- name: Skip installation if correct version already installed
  debug:
    msg: "OpenJDK {{ java_version }} is already installed"
  when:
    - current_java_version.rc == 0
    - java_version in current_java_version.stdout

- name: Create temporary download directory
  file:
    path: "{{ java_temp_dir }}"
    state: directory
    mode: "0755"
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Download OpenJDK {{ java_version }}
  get_url:
    url: "https://download.java.net/java/GA/jdk{{ java_version }}/{{ java_build_hash }}/{{ java_build_number }}/GPL/openjdk-{{ java_version }}_linux-x64_bin.tar.gz"
    dest: "{{ java_temp_dir }}/openjdk.tar.gz"
    mode: "0644"
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Create Java installation directory
  file:
    path: "{{ java_install_dir }}"
    state: directory
    mode: "0755"
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Extract OpenJDK to installation directory
  unarchive:
    src: "{{ java_temp_dir }}/openjdk.tar.gz"
    dest: "{{ java_install_dir }}"
    remote_src: yes
    extra_opts: [--strip-components=1]
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Set JAVA_HOME environment variable system-wide
  lineinfile:
    path: /etc/environment
    regexp: "^JAVA_HOME="
    line: "JAVA_HOME={{ java_install_dir }}"
    state: present
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Create symlink to java in /usr/bin
  file:
    src: "{{ java_install_dir }}/bin/java"
    dest: /usr/bin/java
    state: link
    force: yes
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Create symlink to javac in /usr/bin
  file:
    src: "{{ java_install_dir }}/bin/javac"
    dest: /usr/bin/javac
    state: link
    force: yes
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Clean up temporary download directory
  file:
    path: "{{ java_temp_dir }}"
    state: absent
  when: current_java_version.rc != 0 or java_version not in current_java_version.stdout

- name: Verify Java installation
  command: java --version
  register: java_version_check
  changed_when: false

- name: Display installed Java version
  debug:
    msg: "Installed OpenJDK version: {{ java_version_check.stdout_lines[0] }}"
