---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - build-essential
      - ca-certificates
      - apt-transport-https
      - software-properties-common
    state: present
