---
- name: Set .NET SDK variables
  set_fact:
    dotnet_version: "10.0.101"
    dotnet_url: "https://builds.dotnet.microsoft.com/dotnet/Sdk/10.0.101/dotnet-sdk-10.0.101-linux-x64.tar.gz"
    dotnet_sha512: "0443602455d30af51c819d7805e9b45550101c3718acbb3ec5f991e73d18e79b18fb5bc7cdf77bc308936a96275176b23a56e96133e7de83ae60ca2240bc602f"
    dotnet_install_dir: "/usr/share/dotnet"
    dotnet_temp_dir: "/tmp/dotnet-install"

- name: Check if dotnet is already installed with correct version
  command: dotnet --version
  register: current_dotnet_version
  changed_when: false
  failed_when: false

- name: Skip installation if correct version already installed
  debug:
    msg: ".NET SDK {{ dotnet_version }} is already installed"
  when:
    - current_dotnet_version.rc == 0
    - current_dotnet_version.stdout == dotnet_version

- name: Create temporary download directory
  file:
    path: "{{ dotnet_temp_dir }}"
    state: directory
    mode: '0755'
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Download .NET SDK tarball
  get_url:
    url: "{{ dotnet_url }}"
    dest: "{{ dotnet_temp_dir }}/dotnet-sdk.tar.gz"
    checksum: "sha512:{{ dotnet_sha512 }}"
    mode: '0644'
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Create dotnet installation directory
  file:
    path: "{{ dotnet_install_dir }}"
    state: directory
    mode: '0755'
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Extract .NET SDK to installation directory
  unarchive:
    src: "{{ dotnet_temp_dir }}/dotnet-sdk.tar.gz"
    dest: "{{ dotnet_install_dir }}"
    remote_src: yes
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Create symlink to dotnet in /usr/bin
  file:
    src: "{{ dotnet_install_dir }}/dotnet"
    dest: /usr/bin/dotnet
    state: link
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Set DOTNET_ROOT environment variable system-wide
  lineinfile:
    path: /etc/environment
    regexp: '^DOTNET_ROOT='
    line: 'DOTNET_ROOT={{ dotnet_install_dir }}'
    state: present
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Clean up temporary download directory
  file:
    path: "{{ dotnet_temp_dir }}"
    state: absent
  when: current_dotnet_version.rc != 0 or current_dotnet_version.stdout != dotnet_version

- name: Verify .NET installation
  command: dotnet --version
  register: dotnet_version_check
  changed_when: false

- name: Display installed .NET version
  debug:
    msg: "Installed .NET SDK version: {{ dotnet_version_check.stdout }}"
